@font-face {
    font-family: 'league';
    src: url('src/assets/league-gothic.leaguegothic-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'orbitron';
    src: url('src/assets/orbitron.medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.count {
    font-size: 260px;
    color: #985eff;
    font-family: 'league', sans-serif;
}

.subcount {
    font-size: 150px;
    color: #985eff;
    font-family: 'league', sans-serif;
}

.ptags {
    font-size: 3vh;
    color: #e4daf6;
    font-family: 'orbitron', sans-serif;
    padding-right: 10px;
    font-style: italic;
}

.aligndiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px; 
}
.upperdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.packdiv {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-left: 20px;
}

.input-t {
    font-size: 6vh;
    background-color: #191720;
    color: #985eff;
    font-family: 'league', sans-serif;
    border: none;
    outline: none;
    width: 55px;
}
.input-st {
    font-size: 6vh;
    background-color: #191720;
    color: #985eff;
    font-family: 'league', sans-serif;
    border: none;
    outline: none;
    width: 42px;
}

button {
    font-size: 3vh;
    color: #e4daf6;
    border: none;
    outline: none;
    background: none;
    font-family: 'orbitron', sans-serif;
    font-style: italic;
}

.base-bg {
    background-color: #191720;
  }

  .footerline{
    font-family: 'orbitron', sans-serif;
    color: #e4daf6;
    text-align: center;
    font-style: italic;
    font-size: 14px;
  }